@media (max-width: 576px) and (min-width: 1px) {
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 35% !important;
        left: 90% !important;
        display: block !important;
    }

    .carousel-mobile {
        top: 0px;
        height: 100vh !important;
        width: auto;
        max-width: 100vw;
    }

    .logo-mobile {
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 0px;
        right: 0px;
    }

    /* Estilos para el botón "navbar-toggler" */
    /* Estilos para el botón "navbar-toggler" */
    .navbar-light .navbar-toggler {
        border-color: rgba(0, 0, 0, 0) !important;
    }

    /* CSS para cambiar el color del texto en el menú desplegable */
    .navbar-nav .nav-link {
        color: #000000 !important;
        font-weight: 600;
    }

    /* Cambiar el color del texto en el menú desplegable cuando se hace clic */
    .navbar-nav .nav-link:active,
    .navbar-nav .nav-link:hover {
        color: #848484 !important;
        /* Cambia el color aquí */
    }


    /* Estilos para el icono del botón "navbar-toggler" con el nuevo color negro */
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-miterlimit='10' d='M4 8h32M4 16h32M4 24h32M4 32h32'/%3E%3C/svg%3E") !important;
    }


    .col-2-5 {
        width: 50%;
        margin-left: 0%;
        margin-right: 0%;
    }

    /*.modal-content{
    top: 25%;
    }*/
    .dis-columns {
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        -webkit-column-fill: auto;
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -moz-column-fill: auto;
        column-count: 2;
        column-gap: 15px;
        column-fill: auto;
    }

    h2 {
        font-size: 0.8em !important;
    }

    #clientes {
        text-align: center;
        padding: 0;
        margin: 0;

    }
    .container-slider {
        width: 100%;
        height: auto;
        margin: auto;
        overflow: hidden;
        background: #fdfdfd;
    }
    
    

}

/*// Medium devices (tablets, 768px and up)*/